.nav {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 3px solid #2c4152;
  z-index: 101;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
  top: 0;
  text-transform: uppercase;
  text-decoration: none;
  height: 100px; */
}
.logo {
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 700; */
}
.links {
  /* display: flex;
  align-items: center; */
  /* justify-content: space-around; */
  /* margin-right: 3rem; */
  /* gap: 25px; */
  /* margin-left: auto; */
}
.links .links__name {
  /* font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 0 1rem; */
}
.links .links__icons {
  /* border-radius: 50%;
  display: flex;
  padding: 0.5rem;
  background-color: black; */
}
.links__icons > svg {
  /* fill: #fff; */
}
.mobile__link {
  /* display: flex;
  align-items: center;
  margin-left: auto; */
}
.mobile__link > svg {
  font-size: 40px;
}
/* @media screen and (max-width: 1000px) {
  .links {
    display: none;
  }
} */
/* @media screen and (min-width: 1000px) {
  .mobile__link {
    display: none;
  }
} */
